<h2>LISTA UTENTI</h2>
<div>
    <form #myform="ngForm" (ngSubmit)="ricercaUtente(myform)">
        <label for="nome">RICERCA PER NOME</label>
        <input name="nome" type="text" ngModel pattern="[A-Za-z ]+">
        <label for="cognome">RICERCA PER COGNOME</label>
        <input name="cognome" type="text" ngModel pattern="[A-Za-z ]+">
        <button type="submit">RICERCA</button>
        <div *ngIf="myform.form.status === 'INVALID'">Caratteri non consentiti</div>
    </form>
</div>
<app-mytable [utentiChild]="utenti" (sendEliminaUtente)="eliminaUtente($event)"></app-mytable>
<div><b>Il numero di utenti è uguale a {{utenti.length }}</b></div>
